#current-temp{
	height: 300px;
	margin: 50px;
}

body{
	background-image: url(../flower.jpg);
}

.weather-box{

    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=10);
}


.header{
	background-color: black;
}

.weather-box p{
	font-size:20px;
	font-weight: bold;
    color: black;
    opacity: 100;
}
	

.col-sm-12 column {
	display: inline-block;
}

.city{
	font-size:60px;
	font-weight: 900;
	border: 10px solid black;
	
}

.city p{


}

